@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff7ee;
  --foreground: #e0f0bc;
  --primary: #2f5b50;
  --secondary: #000000;
}

body {
  color: var(--primary);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
